.nestingcol{
	background-color: blue;
	height: 10vh;
	color: #fff;
}

.nestingcol2{
	background-color: pink;
	height: 10vh;
	color: #fff;
}

.smallcol{
	background-color: grey;
	color: white;
}

.smallcol2{
	background-color: orange;
	color: white;
}

body{
	background-color: rgb(223,241,237);

}